.activeSearchResult:not(ytd-grid-video-renderer) {
  border-left: 3px solid #4386fa !important;
  transform: translate(-3px, 0) !important;
}

ytd-grid-video-renderer.activeSearchResult {
  background: #000;
  background-clip: padding-box;
  margin: 2.5px 2.5px 2.5px 0;
  transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-left-color: none;
  outline-color:none !important;
  border-radius: 0%;
  box-shadow: 
    inset 0px 100px 50px -23px #fff, 
    inset 20px 0 80px #9100ff26, 
    inset -20px 0 80px #8500ff00, 
    inset 20px 0 300px #f0f0, 
    inset -20px 0 300px #0ff0, 
    0 0 50px #fff0, 
    -10px 0 80px #ff006a59;
}
}

td.activeSearchResult {
  padding-right: 0 !important;
}

body.useSimpleHighlight h3 a:focus,
body.useSimpleHighlight #search .r > a:focus {
  white-space: nowrap;
}

body.useSimpleHighlight h3 a:focus:before,
body.useSimpleHighlight #search .r > a:focus:before {
  content: '\25BA \00A0';
}

body.useHighlight h3 a:focus,
body.useHighlight #search .r > a:focus {
  outline: 0;
}